.card {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 378px;
  height: 100%;
  min-height: 648px;
  margin: 24px auto;
  padding: 35px 25px;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  width: 100%;
  max-width: 348px;
  margin: 10px 0;
}

.containerInput {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  & .input {
    min-width: 324px;
  }
}

.containerInput button {
  right: -30px;
}

.containerCheckbox {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

.err {
  margin-bottom: 20px;
}

.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-light-900);
}

.title {
  align-self: center;
  margin: 10px 0;
}
