.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 740px;
  margin: 0 auto;
}

.inputWrapper {
  width: 100%;

  & div {
    min-width: 100%;
  }

  & span::after {
    content: '*';
    color: var(--color-danger-500);
  }

  & input {
    margin-bottom: 24px;
    color: var(--color-light--700);
  }
}

.datePicker {
  width: 100%;
  margin-bottom: 24px;

  & input {
    color: var(--color-light--700);
  }
}

.wrapperSelect {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: 100%;
  margin-bottom: 24px;
}

.select {
  width: 100%;
  margin-right: 24px;
  font-size: var(--font-size-s);

  & button {
    font-size: var(--font-size-m);
  }
}

.select:last-child {
  margin-right: 0;
}

.textAreaError {
  color: var(--color-danger-500);
}

.buttonContainer {
  position: relative;

  display: flex;
  justify-content: end;

  width: 100%;
  margin-top: 48px;
  padding-top: 30px;

  ::before {
    content: '';

    position: absolute;
    top: -30px;
    left: -260px;

    width: 972px;
    height: 1px;

    background-color: var(--color-dark-300);
  }
}

.loader {
  position: absolute;
  z-index: 99;
  inset: 0;
  background-color: var(--color-dark--800);
}
