.wrapperCropping {
  position: relative;
  display: flex;

  & img {
    object-fit: cover;
  }
}

.photoContainer {
  position: absolute;
  right: 12px;
  bottom: 50px;

  overflow: auto hidden;
  display: flex;
  align-items: center;

  max-width: 50%;
  height: 100%;
  max-height: 110px;

  opacity: 0.9;
  background-color: var(--color-dark-500);
  border-radius: 4px;
}

.imageWrapper {
  position: relative;

  display: inline-block;

  width: 80px;
  height: 92px;
  margin-right: 12px;
  transition: transform 0.3s;
}

.activeImage {
  transform: scale(1.07);
}

.minPhoto {
  margin: 6px 12px;
  object-fit: cover;
}

.removeButton {
  cursor: pointer;

  position: absolute;
  top: 8px;
  right: -10px;

  width: 24px;
  height: 24px;

  opacity: 0.7;
  background-color: var(--color-dark-100);
  border-radius: 4px;
}

.circleBtn {
  width: 36px;
  padding: 0;
  color: var(--color-light-100);
}

.imageModificationMenuButtonsContainer {
  position: absolute;
  display: flex;
  bottom: 11px;
  right: 11px;
  left: 11px;

  & button {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    color: var(--color-light-100);
    background-color: var(--color-dark-500);
    border-radius: 2px;
  }

  & button:last-child {
    margin-left: auto;
  }

  & button:first-child {
    margin-right: 24px;
  }

  & .activeButton {
    color: var(--color-accent-500);
  }
}
