.wrapperCropping {
  position: relative;
  display: flex;

  & img {
    width: 100%;
    object-fit: cover;
  }
}

.photoContainer {
  position: absolute;
  right: 12px;
  bottom: 50px;

  overflow: auto hidden;
  display: flex;
  align-items: center;

  max-width: 50%;
  height: 100%;
  max-height: 110px;

  opacity: 0.9;
  background-color: var(--color-dark-500);
  border-radius: 4px;
}

.imageWrapper {
  position: relative;

  display: inline-block;

  width: 80px;
  height: 92px;
  margin-right: 12px;
}

.minPhoto {
  margin: 6px 12px;
  object-fit: cover;
}

.removeButton {
  cursor: pointer;

  position: absolute;
  top: 8px;
  right: -10px;

  width: 24px;
  height: 24px;

  opacity: 0.7;
  background-color: var(--color-dark-100);
  border-radius: 4px;
}

.circleBtn {
  width: 36px;
  padding: 0;
  color: var(--color-light-100);
}
