.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  max-width: 378px;
  margin: 5vh auto;
  padding: 24px 24px 36px;
}

.title {
  margin-bottom: 36px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  padding-bottom: 6px;

  div:first-child {
    margin-bottom: 24px;
  }

  & .input {
    min-width: 330px;
  }

  & button {
    right: -40px;
  }
}

.informTitle {
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-light-900);
}
