.postContainer {
  display: flex;
  min-height: 560px;
  border: 1px solid var(--color-dark-100);
}

.wrapper {
  padding: 12px 24px;
}

.postImage {
  width: 100%;
  min-width: 490px;
  height: 100%;
  min-height: 40em;

  object-fit: cover;
}

.descriptionContainer {
  width: 100%;
  max-width: 480px;
  border-left: 1px solid var(--color-dark-100);
}

.descriptionHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-dark-100);
}

.descriptionHeaderProfile {
  display: flex;
  gap: 10px;
  align-items: center;
}

.descriptionAvatarImage {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50px;
}

.descriptionUserName {
  font-weight: 600;
}

.editButton {
  position: relative;
}

.descriptionHeaderButton {
  cursor: pointer;
  color: var(--color-accent-500);
}

.buttonMenu {
  position: absolute;
  top: 40px;
  right: 25px;

  width: 100%;
  max-width: 150px;
  padding: 12px;

  visibility: hidden;
  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;

  & li {
    cursor: pointer;
    display: flex;
    gap: 12px;
    align-items: center;

    &:first-child {
      margin-bottom: 12px;
    }

    &:hover {
      color: var(--color-accent-500);
    }
  }

  &.visible {
    visibility: visible;
  }
}

.descriptionCommentsContainer {
  display: flex;
  flex-direction: column;
  gap: 35px;
  border-bottom: 1px solid var(--color-dark-100);
}

.descriptionCommentContainer {
  display: flex;
  width: 100%;
}

.descriptionComment {
  width: 100%;
  min-width: 345px;
  padding: 0 24px 0 12px;
}

.descriptionCommentIconContainer {
  padding-top: 1em;
}

.descriptionCommentIcon {
  cursor: pointer;

  &.iconActive {
    color: var(--color-danger-500);
  }
}

.descriptionReactions {
  padding-top: 20px;
  border-bottom: 1px solid var(--color-dark-100);
}

.descriptionReactionsIconsContainer {
  display: flex;
  justify-content: space-between;
}

.descriptionReactionsIcons {
  display: flex;
  gap: 25px;
}

.descriptionReactionsIcon {
  width: 25px;
  height: 25px;
}

.descriptionReactionsAvatarsContainer {
  display: flex;
  padding: 19px 10px 5px;

  & span {
    padding-left: 12px;
  }
}

.descriptionReactionsAvatarImage {
  width: 25px;
  height: 25px;
  margin-left: -10px;
  border-radius: 50px;

  &:hover {
    z-index: 999;
    transform: translateY(-5px);
    transition: transform 0.5s ease-out;
  }
}

.date {
  color: var(--color-light-900);
}

.descriptionFooter {
  display: flex;
  justify-content: space-between;
}

.descriptionFooterBtn {
  justify-content: start;
  width: 100%;
  padding: 6px 0;
  color: var(--color-light-900);

  &:hover {
    color: var(--color-light-700);
  }
}
