.postContainer {
  display: flex;
  min-height: 560px;
  border: 1px solid var(--color-dark-100);
}

.wrapper {
  padding: 12px 24px;
}

.postImage {
  min-width: 490px;
  min-height: 40em;
}

.descriptionContainer {
  width: 100%;
  max-width: 480px;
  border-left: 1px solid var(--color-dark-100);
}

.descriptionHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-dark-100);
}

.descriptionHeaderProfile {
  display: flex;
  gap: 10px;
  align-items: center;
}

.descriptionAvatarImage {
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 50px;
}

.descriptionUserName {
  font-weight: 600;
}

.descriptionHeaderButton {
  cursor: pointer;
  color: var(--color-accent-500);
}

.descriptionCommentsContainer {
  display: flex;
  flex-direction: column;
  gap: 35px;
  border-bottom: 1px solid var(--color-dark-100);
}

.descriptionCommentContainer {
  display: flex;
  width: 100%;
}

.descriptionComment {
  padding: 0 24px 0 12px;
}

.descriptionCommentIconContainer {
  padding-top: 1em;
}

.descriptionCommentIcon {
  &.iconActive {
    color: var(--color-danger-500);
  }
}

.descriptionReactions {
  padding-top: 20px;
  border-bottom: 1px solid var(--color-dark-100);
}

.descriptionReactionsIconsContainer {
  display: flex;
  justify-content: space-between;
}

.descriptionReactionsIcons {
  display: flex;
  gap: 25px;
}

.descriptionReactionsIcon {
  width: 25px;
  height: 25px;
  background-color: bisque;
}

.descriptionReactionsAvatarsContainer {
  display: flex;

  & span {
    padding-left: 12px;
  }
}

.descriptionReactionsAvatarImage {
  width: 25px;
  height: 25px;
  border: 1px solid gray;
  border-radius: 50px;
}

.date {
  color: var(--color-light-900);
}

.descriptionFooter {
  display: flex;
  justify-content: space-between;
}
