.post {
  width: 100%;
  max-width: 491px;
  margin: 0 0 36px;
  border-bottom: 1px solid var(--color-dark-100);

  .postHeader {
    display: flex;
    align-items: center;
    padding: 12px 0;

    .dot {
      width: 4px;
      height: 4px;
      margin: 0 8px;

      background: var(--color-light-700);
      border-radius: 50%;
    }

    .timeAgo {
      color: var(--color-light-900);
    }

    .edit {
      margin: 0 0 0 auto;
    }
  }

  .photoSlider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .loader {
      position: absolute;
      opacity: 0.5;
      background: var(--color-dark-800);
    }
  }

  .imagesPosts {
    margin: 0 0 -7px;
    object-fit: cover;
  }
}

.postHeaderImage {
  margin: 0 12px 0 0;
  border-radius: 50%;
}

.postActions {
  display: flex;
  padding: 12px 0 16px;

  .message {
    margin: 0 20px;

    &:hover {
      cursor: pointer;
      color: var(--color-accent-300);
    }

    &:active {
      color: var(--color-accent-100);
    }
  }

  .book {
    margin: 0 0 0 auto;
  }
}

.description {
  display: flex;
  align-items: start;

  max-width: 491px;

  text-wrap: wrap;
  word-break: break-all;
}

.like {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 14px 0 24px;

  .likeUsersImages {
    display: flex;
    margin-left: 10px;
  }
}

.viewComments {
  padding: 0 0 12px;
  color: var(--color-light-900);
}

.form {
  display: flex;
  margin: 0 0 16px;

  :global(input[class*='_input']) {
    padding-left: 0;
    color: var(--color-light-900);
    background: transparent;
    border: none;
  }

  :global(div[class*='_box']) {
    width: 100%;
  }

  :global(input[class*='_input']:hover),
  :global(input[class*='_input']:focus),
  :global(input[class*='_input']:active) {
    border: none;
    outline: none;
  }

  .btnForm {
    padding: 0;
  }
}

.avatar {
  margin-right: 12px;
}

.avatarImage {
  width: 25px;
  height: 25px;
  margin-left: -10px;
  border-radius: 50px;

  &:hover {
    z-index: 999;
    transform: translateY(-5px);
    transition: transform 0.5s ease-out;
  }
}

.descriptionCommentIcon {
  cursor: pointer;

  &.iconActive {
    color: var(--color-danger-500);
  }

  &.disabledIcon {
    opacity: 0.5;
  }
}
