.main {
  width: 100%;
  padding: 30px 24px 36px;
}

.text {
  display: inline-block;
  padding-bottom: 18px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.button {
  padding: 6px 34px;
}
