.paymentsAutoRenewal {
  margin: 0 0 25px;

  .block {
    flex-direction: row;
    margin: 18px 0 22px;
    padding: 12px 24px;

    .blockItem {
      display: flex;
      flex-direction: column;
      margin: 0 48px 0 0;

      > span {
        margin: 0 0 12px;
        color: var(--color-light-900);
      }
    }
  }
}
