.containerNotification {
  display: flex;
  align-items: center;
}

.trigger {
  display: flex;
  align-items: center;
}

.content {
  z-index: 1;
  max-width: 355px;
}

.label {
  padding: 0 0 12px;
}

.blockItem {
  all: unset;

  cursor: pointer;

  width: 100%;

  background: transparent;

  transition: background 0.3s ease-in-out;

  &:hover {
    background: unset;
  }
}

.itemHover:hover {
  background: var(--color-dark-100);
  transition: background 0.3s ease-in-out;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 12px 0;

  > h2 {
    margin: 0 0 12px;

    > span {
      margin: 0 0 0 5px;
      color: var(--color-accent-500);
    }
  }

  .data {
    display: flex;
    color: var(--color-light-900);
  }
}

.bell path:last-child,
.bell circle {
  display: none;
}

.separator {
  height: 1px;
  background-color: var(--color-dark-100);
}
