.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapperCropping {
  position: relative;
  display: flex;
  flex-direction: row;
}

.photoContainer {
  position: absolute;
  right: 12px;
  bottom: 50px;

  overflow: hidden;
  overflow: auto hidden;
  display: flex;
  align-items: center;
  justify-content: flex-direction;

  max-width: 244px;
  max-height: 120px;

  white-space: nowrap;

  opacity: 0.9;
  background-color: var(--color-dark-500);
  border-radius: 4px;
}

.photo {
  max-width: 492px;
  max-height: 504px;
  object-fit: contain;
}

.defaultImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 220px;
  min-height: 230px;
  margin: 108px 135px 60px;

  background-color: var(--color-dark-500);
}

.inputFile {
  position: relative;
  display: inline-block;

  input[type='file'] {
    position: absolute;
    z-index: -1;

    width: 0;
    height: 0;

    opacity: 0;
  }
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;

  .PhotoBtn {
    margin-bottom: 24px;
  }
}

.uploadPhotoErrorContainer {
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
}

.uploadPhotoError {
  display: inline-block;

  width: 100%;
  margin-top: 25px;
  padding: 6px 24px;

  text-align: center;

  background-color: var(--color-danger-900);
  border: 1px solid var(--color-danger-500);
}

.publicWrapper {
  display: flex;
  flex-direction: row;
}

.selectWrapper {
  position: relative;

  button {
    height: 36px;
    background-color: transparent;
  }

  label {
    font-size: 14px;
    font-weight: 400;

    g {
      display: none;
    }
  }
}

.customArrow {
  pointer-events: none;

  position: absolute;
  top: 70%;
  right: 10px;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.descriptionContainer {
  min-width: 480px;
  padding: 24px;
}

.userWrapper {
  display: flex;
  margin-bottom: 30px;
}

.username {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12px;
}

.line {
  margin: 0 -24px 24px;
  border: 1px solid var(--color-dark-100);
}

.counter {
  display: flex;
  justify-content: flex-end;
  color: var(--color-light-900);
}

.textAreaWrapper {
  margin-bottom: 18px;
}

.wrapperPhotos {
  display: flex;
}

.CircleBtn {
  width: 36px;
  height: 36px;
  padding: 0;
  color: var(--color-light-100);
}

.imageWrapper {
  position: relative;

  display: inline-block;

  width: 80px;
  height: 92px;
  margin-right: 12px;
}

.removeButton {
  cursor: pointer;

  position: absolute;
  z-index: 10;
  top: 8px;
  right: -10px;

  width: 24px;
  height: 24px;

  opacity: 0.7;
  background: transparent;
  background-color: var(--color-dark-100);
  border: none;
  border-radius: 4px;
}

.minPhoto {
  display: block;
  width: 80px;
  height: 82px;
  margin: 6px 12px;
}

.secondModalWrapper {
  display: flex;
  flex-direction: column;
}

.closeTypography {
  max-width: 332px;
  padding: 30px 21px 18px 24px;
}

.modalBtnWrapper {
  display: flex;
  justify-content: space-around;
  padding-bottom: 26px;
}