.wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 972px;
  margin: 62px auto 0;
}

.avatarAndForm {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.loader {
  position: absolute;
  z-index: 99;
  inset: 0;
  background-color: var(--color-dark--800);
}

.tabsContent {
  width: 100%;
}

.tabsClass {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;

  min-width: 100%;

  > div[role='tablist'] {
    display: flex;
    justify-content: center;

    > button {
      width: 25%;
      text-align: center;
    }
  }
}
