.container {
  overflow: hidden auto;
  display: flex;
  justify-content: center;

  max-height: calc(100vh - 60px);
  padding: 50px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 972px;
}

.tabsContent {
  width: 100%;
}

.tabsClass {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;

  min-width: 100%;

  > div[role='tablist'] {
    display: flex;
    justify-content: center;

    > button {
      width: 25%;
      text-align: center;
    }
  }
}
