.publicPage {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 75%;
  margin: 0 auto;
  margin-top: 25px;
}

.publicPosts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 35px;
}
