.wrapper {
  display: flex;
  flex-direction: row;
  gap: 50px;

  width: 100%;
  max-width: 972px;
  margin: 24px 62px 0 24px;
}

.loader {
  position: absolute;
  z-index: 99;
  inset: 0;
  background-color: var(--color-dark--800);
}
