.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: calc(99vh - 60px);
  padding: 35px 65px 0 24px;
}

.profile {
  display: flex;
  margin-bottom: 50px;
}

.profileData {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 40px;
}

.profileNameAndBtnContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileFollowersContainer {
  display: flex;
  gap: 100px;
}

.postImage {
  cursor: pointer;
  border: 1px solid var(--color-light-900);
  border-radius: 3px;
}
