.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 50px;

  background-color: var(--color-dark-700);
}

.profile {
  display: flex;
  margin-bottom: 50px;
}

.profileAvatar {
  object-fit: cover;
  border-radius: 10px;
}

.profileData {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 40px;
}

.profileFollowersContainer {
  display: flex;
  gap: 100px;
}

.postImage {
  cursor: pointer;
  object-fit: cover;
  background-color: var(--color-dark-800);
  border-radius: 10px;

  &:hover {
    opacity: 0.5;
  }
}

.postsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 1rem;
}

.postItem {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 250px;
}
