.uploadPhotoErrorContainer {
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
}

.uploadPhotoError {
  display: inline-block;

  width: 100%;
  margin-top: 25px;
  padding: 6px 24px;

  text-align: center;

  background-color: var(--color-danger-900);
  border: 1px solid var(--color-danger-500);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.defaultImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 220px;
  min-height: 230px;
  margin: 108px 135px 60px;

  background-color: var(--color-dark-500);
}

.btn {
  margin-bottom: 24px;
}

.btnOutline {
  border: 1px solid var(--color-accent-100);
}
