.main {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 380px;
  height: 230px;
  margin: calc(50vh - 115px) auto;
  padding: 12px 0;
}

.title {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 0 24px 12px;

  border-bottom: 1px solid var(--color-dark-100);

  & svg {
    cursor: pointer;
  }
}

.text {
  padding: 30px 24px 0;
}

.button {
  align-self: end;
  margin: 20px 24px 0 0;
  padding: 6px 24px;
}
