.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 1060px;
  height: 100%;
  margin: 0 auto;
  padding: 50px;
}

.profile {
  display: flex;
  margin-bottom: 50px;
}

.profileData {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
  padding-left: 40px;
}

.profileNameAndBtnContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileFollowersContainer {
  display: flex;
  gap: 100px;
}

.postImage {
  cursor: pointer;
  object-fit: cover;
  background-color: var(--color-dark-800);
  border-radius: 10px;

  &:hover {
    opacity: 0.5;
  }
}

.postsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 228px);
  gap: 12px;
}

.postItem {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 250px;
}
