.publicPost {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 235px;
    height: 100%;
    max-height: 390px;
}

.publicPostSliderImage,
.publicPostSliderImageExpanded {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 1%;
}

.publicPostSliderImageExpanded {
   height: 120px;
}

.publicPostArticle {
    display: flex;
    flex-direction: column;
}

.publicPostArticleHeader {
    display: flex;
    gap: 12px;
    align-items: center;
    margin: 12px 0;
}

.publicPostUserAvatar {
    object-fit: cover;
    border-radius: 50%;
}

.publicPostArticleText {
    display: flex;
    flex-direction: column;
    height: 70px;
}

.publicPostTimeAgo {
    & span {
        color: var(--color-light-900)
    }
}