.avatar {
  object-fit: cover;
  border-radius: 50%;
}

.fallback {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  font-size: calc(100% / 0.8);
  font-weight: bold;
  color: var(--color-light-100);

  background-color: var(--color-dark-300);
  border-radius: 50%;
}
