.content {
  overflow-y: auto;
  display: flex;

  width: 100%;
  min-height: calc(100vh - 60px);
  margin: 0 auto;
}

.page {
  width: 100vw;
  height: 100vh;
}

.contentChildren {
  width: calc(100vw - 220px);
  height: calc(100vh - 60px);
  min-height: calc(100vh - 60px);
}

.isNotAuth {
  width: 100vw;
}
